In [1]:
import pandas as pd
import numpy as np
import xlrd
import os
import re
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
pd.set_option('max_row', 20)

In [3]:
xlrd.open_workbook('source/pp59adS3CHWfKPVb7dEexFA.xls').sheet_names()

['Data', 'About', 'Footnotes', 'Settings', 'v']

In [4]:
data001 = pd.read_excel('source/pp59adS3CHWfKPVb7dEexFA.xls', sheetname='Data')

In [5]:
data001.head()

,GDP per capita,1900,1901,1902,1903,1904,1905,1906,1907,1908,...,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,635.341351,653.296853,670.987221,663.909878,595.038741,726.734055,785.127571,804.717458,874.0,901.875002
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,1048.259228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3193.054604,3584.773197,3928.275138,4195.210368,4476.045166,4604.211737,4855.210024,5115.252837,5369.0,5632.532084
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4797.295051,4965.228361,5048.615566,5098.853564,5156.447405,5288.040382,5576.851564,5790.967692,6011.0,6039.914603

In [6]:
data001 = data001.rename(columns={'GDP per capita':'area'})

In [8]:
area = data001['area'].copy()
area_id = area.map(to_concept_id)

In [10]:
area_df = pd.DataFrame([], columns=['area', 'name'])

area_df['area'] = area_id
area_df['name'] = area

In [19]:
area_df.to_csv('../ddf--entities--area.csv', index=False)

In [15]:
dp = data001.set_index('area')

dp = dp.T.unstack()

In [16]:
dp = dp.reset_index()

dp.columns = ['area', 'year', to_concept_id('GDP per capita')]

dp['area'] = dp['area'].map(to_concept_id)

In [20]:
dp.dropna().to_csv('../ddf--datapoints--gdp_per_capita--by--area--year.csv', index=False)

In [23]:
conc = ['gdp_per_capita', 'area', 'year', 'name']

In [24]:
cdf = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

In [25]:
cdf['concept'] = conc
cdf['name'] = ['GDP per capita', 'Area', 'Year', 'Name']
cdf['concept_type'] = ['measure', 'entity_domain', 'time', 'string']

In [27]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [28]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"area,year",gdp_per_capita,ddf--datapoints--gdp_per_capita--by--area--yea...
0,area,name,ddf--entities--area.csv